#close{
    display: none;
}

@media (max-width: 799px){

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }


}